@import "./variables";

.blog-section {
}

.image-box {
  width: 100vw;
  height: 20rem;
  overflow: hidden;
  &__image {
    width: 100%;
  }
}

.blog-content {
  max-width: 50rem;
  margin: 0 auto;
  transform: translateY(-100px);
  background-color: white;
  border-radius: 10px;
  & > h1:first-child {
    color: $dark-shades;
    text-align: center;
    padding: 20px 30px 80px 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #6aa8b1;
      width: 244px;
      height: 126px;
      left: -2px;
      top: -10px;
      z-index: -1;
      border-top-left-radius: 10px;
    }
  }
}
