@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans&display=swap");
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bitter", serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h3,
h4,
h5 {
  font-weight: 400;
}

p,
a,
li,
div {
  font-family: "Open Sans", sans-serif;
}

.material-icons {
  font-size: 3rem;
  &--light {
    color: $dark-accent;
  }
  &--posts {
    font-size: 1.5rem;
    color: $main-color;
  }
}
